header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

div {
    width: 100%;
    position: relative;
}
.logo {
    display: block;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    float: left;
}