
div.col-12 {
    margin-bottom: 10vh;
}

h4 {
    color: orangered;
}

.orderLink {
    color: blueviolet;
    text-decoration: none;
}
@media only screen and (max-width: 991px) {
    h4 {
        font-size: medium;
    }
}